{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block page %}Main{% endblock %}

{{ super() }}

{% block content %}
    <h1>Main</h1>
    <ul class="collection">
      <li><a href="products.html" class="collection-item waves-effect waves-light">Products</a></li>
      <li><a href="grocerylist.html" class="collection-item waves-effect waves-light">Grocery List</a></li>
      <li><a href="recipesearch.html" class="collection-item waves-effect waves-light">Recipe Search</a></li>
    </ul>
{% endblock %}