{% extends "layout.html" %}
{% block title %}Products{% endblock %}
{% block page %}Products{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  
    .moveme {
  display: table;
  margin-right: auto;
  margin-left: auto;
  background-color:#F5F5F5;
  padding: 40px;
  max-width:600px;
  max-height:600px;
  margin:40px auto;
  width: 100%;
  length: 100%;
  }


   body, html{
        height: 100vh;
      }

      #listing{
      overflow-y: scroll;
      max-height: 70vh;
      }
      
      aside, article{
        max-height: 25vh;
      }

  

</style>
{% endblock %}


{% block content %}
<div class="moveme">

<h1 class="teal lighten-3">Products</h1>
        
      <div class="row">
        <main class="row" style="padding: 40px"></main>
        <table class="col m6 offset-m3">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Products</th>
                    <th>Brand</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                <tr>
                    <td>{{item.no}}</td>
                    <td>{{item.products}}</td>
                    <td>{{item.brand}}</td>
                    <td>{{item.price}}</td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
        </main>
      </div>






    
  </div>

{% endblock %}